* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	background:#fffffc;
	width:100%;
	max-width:1000px;
	margin:auto;

	/* Flexbox */
	display:flex;
	flex-flow:row wrap;
}

body {
	background-image: url("img/pokeball-pix.jpg");
	background-attachment: fixed;
	background-repeat: repeat;
	background-color:#f2f2f2;
	font-family: 'Rubik', sans-serif;
}

header {
	background:#fffffc;
	width:100%;
	padding:10px;

	/* Flexbox */
	display: flex;
	justify-content:space-between;
	align-items:center;

	flex-direction:row;
	flex-wrap:wrap;
}

header .logo {
	color:#fffffc;
	font-size:30px;
}

header .logo img {
	width:100%;
	align-items: initial;
}

header .logo a {
	color:#fffffc;
	text-decoration: none;
	line-height:50px;
}
h4, h5 {
	margin-top: 2%;
}
.main {
	background:#fffffc;
	width:60%;
	padding:20px;
	flex-direction: row;

	flex:1 1 70%;
	/*flex:1;*/
}

aside {
	background:#fffffc;
	padding:10px;
	
	/*Flex*/
	flex:1 1 30%;
	/*flex:0 0 300px;*/
	display: flex;
	/*flex-wrap:wrap;*/
	flex-direction:column;
	justify-content:flex-start;
}

.caption {
    background-color: #fff760;
	border-radius: 10px;
	width: 95%;
    padding: 15px;
	color: #000;
	font-size: 15px;
	text-align: justify;
	margin-bottom: 10%;

	display: flex;
    flex-direction: row;
}

.styleSelect {
    appearance: none;
	background-color: #fff760;
	border-radius: 5px;
	color: #000;
	margin-top: 2%;
	margin-bottom: 5%;
    border: none;
    width: 95%;
	height: 35px;
}

footer {
	background:#cecec8;
	width: 100%;
	padding:15px;

	/* Flexbox */
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

footer .links {
	background:#cecec8;
	display:flex;
	flex-wrap:wrap;
}

footer .links a {
	flex-grow:1;

	color:#000000;
	padding:10px;
	text-align: center;
	text-decoration:unset;
}

footer .links a:hover {
	text-decoration: underline;
}

footer .social {
	background:#cecec8;
}

footer .social a {
	color:#000000;
	text-decoration: none;
	padding:10px;
	display: inline-block;
}

footer .social a:hover {
	text-decoration: underline;
}

.card { 
	margin-bottom: 20px;
	margin-right: 10px;
	max-width: 200px;
	position: relative;
	width: 100%;
	background: #fff;
	border: 1px solid #ddd; 
	border-radius: 10px;
	display: block;
	flex: 1 1 auto; 
}

.card-content {
		padding: 15px;
		flex: 1 1 auto; 
		text-align: center;
}
	  
.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 64%;
	left: 50%;
	width: 100%;
	height: auto;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.text {
	background-color: rgba(255, 253, 161, 0.507);
	color: #000;
	font-size: 14px;
	font-weight: bold;
	padding: 16px 15px;
	border: 1px solid #ddd; 
	border-radius: 10px;
}

.average {
	background-color: #fff760;
	color: #000;
	font-size: 14px;
	padding: 16px 15px;
	border: none; 
	border-radius: 10px;
	margin-top: 10%;
   	width: 95%;
	text-align: center;
}
	  
.card:hover .card {
	opacity: 0.3;
}
	  
.card:hover .middle {
	opacity: 1;
}

/* Float four columns side by side */
.column {
	float: left;
	width: 30%;
	padding: 0 10px;
  }
  
/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}
  
/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  @media screen and (max-width: 800px) {
	.container {
		flex-direction:column;
	}

	header {
		flex-direction:column;
		padding:0;
	}

	header .logo {
		margin:20px 0;
	}

	header nav {
		width: 100%;
	}

	aside {
		flex-direction:row;
		flex:0;
	}

}

@media screen and (max-width: 600px) {
	aside {
		flex-direction:column;
	}

	footer {
		justify-content:space-around;
	}
}

  /* Responsive columns (cards) */
  @media screen and (max-width: 600px) {
	.column {
	  width: 100%;
	  display: block;
	  margin-bottom: 20px;
	}
  }